service: signal-zero-backend

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: dev
  environment:
    FIRMS_KEY: ${env:FIRMS_KEY}
  httpApi:
    cors: true

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:PutItem
            - dynamodb:Query
            - dynamodb:BatchWriteItem
          Resource: 
            - "arn:aws:dynamodb:us-east-1:*:table/Locations"
            - "arn:aws:dynamodb:us-east-1:*:table/Locations/index/*"


functions:
  syncReports:
    handler: src/sync-handler.syncHandler
    events:
      - httpApi:
          path: /sync
          method: post

  queryArea:
    handler: src/handler.handler
    events:
      - httpApi:
          path: /query
          method: get

  ingestFirms:
    handler: src/firms-handler.ingestFirms